button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 8px auto
}

p {
  border-bottom: 1px dashed #ddd
}

#pictureUrl {
  display: block;
  margin: 0 auto;
  width: 12%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}#pictureUrl { display: block; margin: 0 auto }
    li { /* styles all li elements*/
    list-style-type: none;
    }
    .ui-datebox-flipcenter {
        width: 160px;
    }

    table tr td {
        padding: 5px;
    }

    .control-label {
        font-size: 20px !important;
    }
    #btnSave, #btnSave:visited, .ui-btn {
        /*background-color: #3c8dbc !important;
        border-color: #367fa9 !important;
        color: #ffffff !important;
        opacity: 1 !important;*/
    }

    .ui-datebox-container {
        zoom: 150%;
    }
    .container{
      padding: 10px;
    }
    h2,h4,h3{padding: 5px}
    .btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}.ui-datebox-flipcenter {
     width: 100%;/
}
button:hover{
  transform: scale(1.02);
}
.header {
  /* border: 1px solid #c0c0c0; */
  padding: 25px;
  background: url(../images/HomeImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
heading>.heading>table td#line1 {
    /* width: 25px; */
    background-image: url(../images/TitleBG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
heading>.heading>table td#line2 {
    background-image: url(../images/TitleBG2.png);
    background-repeat: repeat-x;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
heading>.heading>table td#line3 {
    width: 117px;
    background-image: url(../images/TitleBG3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
heading {
    /* margin: 15px 0 15px; */
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0px;
    border-color: gray;
    width: 100%;
}